:root{
    --primercolor: rgb(144, 243, 243);
    --segundocolor: rgb(252, 125, 125, 0.9);
    --tercercolor: rgba(0, 183, 255, 0.8);
    --cuartocolor: rgba(44, 46, 48, 0.411);
    --quintocolor: rgba(214, 143, 255, 0.411);
}
.material-symbols-outlined {
    margin-top: 0.2rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
*{
    font-family: "Tagesschrift", system-ui;
    color: white;
    text-shadow: 1px 1px black;
}
body{
    background-image: url(/img/fondopagina.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    text-align: center;
    font-size: 2.3rem;
    font-weight: 400;
}
section{
    .h-lista{
        font-size: 1.8rem;
        font-weight: 300;
        text-align: center;
    }
    .botones{
        display: grid;
        grid-template-columns: repeat(2,10rem);
        margin: 42%;
        margin-top: 4rem;
        button{
            width: 8rem;
            border-radius: 0.5rem;
            font-size: 1.2rem;
        }
        button:nth-child(1){
            background-color: var(--tercercolor); 
        }
        button:nth-child(2){
            background-color: var(--segundocolor);    
        }
    }
    .sin-equipos{
        border-radius: 1.5rem;
        margin-top: 2rem;
        background-color: rgba(66, 66, 66, 0.7);
        margin: auto;
        text-align: center;
        font-size: 2rem;
        width: 20rem;
    }
    .equipos{
        margin-top: 1rem;
        margin-left: 1rem;
        border-radius: 1.5rem;
        display: grid;
        grid-template-columns: repeat(6,16.67%);
        background:
        rgba(66, 66, 66, 0.7);
        p{
            font-size: 1rem;
            text-align: center;
            margin: 1rem;
            margin-left: 1rem;
            span{
                font-size: 1.3rem;
            }
        }
        button{
            margin: auto;
        }
        .boton-eliminar{
            background-color: var(--segundocolor);
        }
        .boton-editar{
            margin-right: -1.7rem;
            background-color: var(--tercercolor);
        }
        strong{
            color:var(--primercolor);
        }
    }
}